button {
  height: 40px;
  color: var(--text-white);
  background-color: var(--orange);
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  padding: 0 20px;
}

button:hover {
  filter: brightness(0.9);
}
