.post {
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.post h3 {
  color: #001220;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.text {
  color: #68696a;
  font-size: 16px;
  margin-bottom: 30px;
}

.author {
  text-align: end;
  color: #68696a;
  font-weight: bold;
  font-size: 13px;
}
