.row {
  height: 40px;
  background-color: #449ab5;
  border-radius: 4px;
  color: white;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 2px 4fr 2px 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 5px;
}

.separator {
  background-color: white;
  height: 100%;
  width: 2px;
}
