.row {
  height: 40px;

  background-color: var(--ranking-dark);
  border-radius: 4px;
  color: var(--text-white);
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 2px 4fr 2px 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 5px;
}

.center {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.row-first {
  background-color: var(--ranking-light);
}

.separator {
  background-color: var(--text-white);
  height: 100%;
  width: 2px;
}
