.login {
  max-width: 300px;
}

h2 {
  margin-bottom: 20px;
}

label {
  font-size: 15px;
}

input {
  height: 40px;
  margin: 0 0 15px 0;
  border: 1px solid #b56844;
  border-radius: 7px;
  padding: 0 10px;
  font-size: 15px;
}

input:focus {
  outline: none;
  border: 2px solid #b56844;
}

button {
  height: 40px;
  width: 100px;
  color: white;
  background-color: #b56844;
  border-style: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #975739;
}

form {
  display: flex;
  flex-direction: column;
}
