.content {
  width: 60%;
  margin: 75px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

h2 {
  color: var(--text-dark);
  font-size: 35px;
  font-weight: bold;
}

.celebration {
  background-color: var(--ranking-light);
  text-align: center;
  width: 100%;
  color: var(--text-white);
  font-size: 20px;
  position: fixed;
  z-index: 2;
  top: 100%;
  padding: 20px;
}

.celebration-visible {
  animation: show-celebration 5s;
}

@keyframes show-celebration {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}
