.content {
  width: 60%;
  margin: 75px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

h2 {
  color: var(--text-dark);
  font-size: 35px;
  font-weight: bold;
}
