.stats-element {
  background-color: #b56844;
  border-radius: 8px;
  color: white;
  width: 100px;
  aspect-ratio: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.stats-element:hover {
  transform: translateY(-2px);
}

.stats-element p {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.stats-element h3 {
  text-align: center;
  font-size: 45px;
  font-weight: normal;
}
